<h1 class="page-header mb-3 text-muted">Alerts</h1>

<div class="row">

    <div class="col-xl">

        <div class="card border-0 mb-3 overflow-hidden bg-dark text-white">

            <div class="card-body">
                <div class="panel-body">
                    <div id="data-table-default_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <!--div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="data-table-default_length"><label>Show <select name="data-table-default_length" aria-controls="data-table-default" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="data-table-default_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="data-table-default"></label></div>
                            </div>
                        </div-->
                        <div class="row">
                            <div class="col-sm-12">
                                <table data-height="700" data-pagination-parts="pageInfoShort" id="alerts" class="table table-responsive-sm table-sm">
                                    <thead>
                                        <tr>
                                            <th data-field="alertname">Alertname</th>
                                            <th data-field="state">State</th>
                                            <th data-field="activeAt" class="datePicker">ActiveAt</th>
                                            <th data-field="value">value</th>
                                            <th data-field="description">Description</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
<script type="text/javascript" src="/assets/plugins/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script type="text/javascript">
    var sUrl = window.location.pathname.split('/')

    $('#alerts').bootstrapTable({
        pagination: true,
        search: true,
        classes: "table table-responsive-sm table-sm",
        pageSize: 100
    });

    var Update = class {

        update10() {
            var alerts = [];

            $.ajax({
                url: '/api/v1/alerts',
                beforeSend: function(request) {
                    if (sUrl.length > 2) {
                        request.setRequestHeader("X-Proxy-VMetrics", sUrl[2]);
                    }
                },
                success: function(jsn) {
                    $.each(jsn.data.alerts, function(key, value) {
                        var aa = new Date(value['activeAt']);
                        alerts.push({
                            state: '<label class="label label-' + value['state'] + '">' + value['state'] + '</label>',
                            alertname: value['labels']['alertname'] || 'unknown',
                            //activeAt: aa,
                            value: Number(value['value']) || 1,
                            description: value['annotations']['description'] || '',
                        });
                    });

                    /*
                    alerts.sort(function(a, b) {
                        return a['repeat'] - b['repeat'];
                    });

                    $.each(widget, function(key, value) {
                        var prc = 0;
                        if (jsn.data.alerts.length > 0) {
                            prc = Math.round(100 * widget[key] / jsn.data.alerts.length);
                        }
                        $('#widget-' + key + ' .progress-bar').attr('style', 'width: ' + prc + '%;');
                        $('#widget-' + key + ' .stats-desc').text('Percentage (' + prc + '%)');

                        $('#widget-' + key + ' .stats-number').text(value);
                        if (widget[key] > 0) {
                            $('#widget-' + key).removeClass("bg-dark").addClass("bg-" + key);
                        } else {
                            $('#widget-' + key).removeClass("bg-red bg-orange bg-teal").addClass("bg-dark");
                        }



                        //if ($('.widget.widget-stats' + key).length > 0) {
                        //    var prc = Math.round(100 * value / widget[key]);
                        //    $('.widget.widget-stats' + key + ' .stats-number').text(value);
                        //    $('.widget.widget-stats' + key + ' .progress-bar').attr('style', 'width: ' + prc + '%;');
                        //    $('.widget.widget-stats' + key + ' .stats-desc').text('Text (' + prc + '%)');
                        //} else {
                        //
                        //}
                    });
                    */


                    //$('#alerts').bootstrapTable('pageSize', 100);
                    $('#alerts').bootstrapTable('load', alerts);

                    var aa = new Date();
                    $('.datePicker').datepicker({
                        format: 'mm/dd/yyyy'
                    });
                    $('.datePicker').datepicker('setDate', aa);
                    //console.log();

                    //console.log('test');
                }


            });

            //del(targets);
        }

    }

    $(function() {
        update = new Update();
        update.update10();
    });
</script>