<div class="panel-body">
    <div class="input-group m-b-10">
        <div class="input-group-prepend">
            <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu" style="">
                <a href="#" class="dropdown-item">Action</a>
                <a href="#" class="dropdown-item">Another action</a>
                <a href="#" class="dropdown-item">Something else here</a>
                <a href="#" class="dropdown-item">Separated link</a>
            </div>
        </div>
        <input type="text" class="form-control"/>
        <div class="input-group-append">
            <button type="button" class="btn btn-primary no-caret">Execute</button>
        </div>
    </div>
</div>