<ol class="breadcrumb float-xl-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">Dashboard</a></li>
    <li class="breadcrumb-item active">Dashboard v3</li>
</ol>

<h1 class="page-header mb-3 text-muted">Dashboard v3</h1>

<div class="row">

    <div class="col-xl-3 col-md-6">
        <div id="widget-red" class="widget widget-stats bg-dark">
            <div class="stats-icon stats-icon-lg"><i class="fas fa-exclamation-circle"></i></div>
            <div class="stats-content">
                <div class="stats-title">ERRORS</div>
                <div class="stats-number">0</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 0%;"></div>
                </div>
                <div class="stats-desc"></div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6">
        <div id="widget-orange" class="widget widget-stats bg-dark">
            <div class="stats-icon stats-icon-lg"><i class="fas fa-exclamation-triangle"></i></div>
            <div class="stats-content">
                <div class="stats-title">WARNINGS</div>
                <div class="stats-number">0</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 0%;"></div>
                </div>
                <div class="stats-desc"></div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6">
        <div id="widget-teal" class="widget widget-stats bg-dark">
            <div class="stats-icon stats-icon-lg"><i class="fas fa-check-square"></i></div>
            <div class="stats-content">
                <div class="stats-title">RESOLVED</div>
                <div class="stats-number">0</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 0%;"></div>
                </div>
                <div class="stats-desc"></div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6">
        <div id="widget-dark" class="widget widget-stats bg-dark">
            <div class="stats-icon stats-icon-lg"><i class="fas fa-th-list"></i></div>
            <div class="stats-content">
                <div class="stats-title">INFO</div>
                <div class="stats-number">0</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 0%;"></div>
                </div>
                <div class="stats-desc"></div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-xl">

        <div class="card border-0 mb-3 overflow-hidden bg-dark text-white">

            <div class="card-body">
                <div class="panel-body">
                    <div id="data-table-default_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <!--div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="data-table-default_length"><label>Show <select name="data-table-default_length" aria-controls="data-table-default" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="data-table-default_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="data-table-default"></label></div>
                            </div>
                        </div-->
                        <div class="row">
                            <div class="col-sm-12">
                                <table data-height="700" data-pagination-parts="pageInfoShort" id="alerts" class="table table-responsive-sm table-sm">
                                    <thead>
                                        <tr>
                                            <th data-field="state">State</th>
                                            <th data-field="repeat">Repeat</th>
                                            <th data-field="alertname">Alertname</th>
                                            <th data-field="node">Node</th>
                                            <th data-field="startsAt">StartsAt</th>
                                            <th data-field="endsAt">EndsAt</th>
                                            <th data-field="description">Description</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!--div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="data-table-default_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="data-table-default_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="data-table-default_previous"><a href="#" aria-controls="data-table-default" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                        <li class="paginate_button page-item active"><a href="#" aria-controls="data-table-default" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="data-table-default" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="data-table-default" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="data-table-default" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="data-table-default" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="data-table-default" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                                        <li class="paginate_button page-item next" id="data-table-default_next"><a href="#" aria-controls="data-table-default" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div-->
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
<script type="text/javascript" src="/assets/plugins/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script type="text/javascript">
    var Update = class {

        update10() {
            var alerts = [];
            var widget = {};
            widget['red'] = 0;
            widget['orange'] = 0;
            widget['teal'] = 0;
            widget['dark'] = 0;
            console.log(options);

            $.ajax({
                url: options['href'],
                success: function(jsn) {
                    $.each(jsn.data.alerts, function(key, value) {
                        switch (value['state'] || 'firing') {
                            case 'firing':
                                widget['red']++;
                                break
                            case 'error':
                                widget['red']++;
                                break
                            case 'critical':
                                widget['red']++;
                                break
                            case 'warning':
                                widget['orange']++;
                                break
                            case 'resolved':
                                widget['teal']++;
                                break
                            default:
                                widget['dark']++;
                                break
                        }

                        if (value['state'] != 'resolved') {
                            alerts.push({
                                state: '<label class="label label-danger">' + value['state'] + '</label>',
                                repeat: value['repeat'] || 1,
                                alertname: value['labels']['alertname'] || 'unknown',
                                node: value['labels']['node'] || '-',
                                startsAt: value['startsAt'],
                                endsAt: value['endsAt'],
                                description: value['annotations']['description'] || '',
                            });
                        }

                    });

                    alerts.sort(function(a, b) {
                        return a['repeat'] - b['repeat'];
                    });

                    $.each(widget, function(key, value) {
                        var prc = 0;
                        if (jsn.data.alerts.length > 0) {
                            prc = Math.round(100 * widget[key] / jsn.data.alerts.length);
                        }
                        $('#widget-' + key + ' .progress-bar').attr('style', 'width: ' + prc + '%;');
                        $('#widget-' + key + ' .stats-desc').text('Percentage (' + prc + '%)');

                        $('#widget-' + key + ' .stats-number').text(value);
                        if (widget[key] > 0) {
                            $('#widget-' + key).removeClass("bg-dark").addClass("bg-" + key);
                        } else {
                            $('#widget-' + key).removeClass("bg-red bg-orange bg-teal").addClass("bg-dark");
                        }



                        //if ($('.widget.widget-stats' + key).length > 0) {
                        //    var prc = Math.round(100 * value / widget[key]);
                        //    $('.widget.widget-stats' + key + ' .stats-number').text(value);
                        //    $('.widget.widget-stats' + key + ' .progress-bar').attr('style', 'width: ' + prc + '%;');
                        //    $('.widget.widget-stats' + key + ' .stats-desc').text('Text (' + prc + '%)');
                        //} else {
                        //
                        //}
                    });

                    $('#alerts').bootstrapTable({
                        pagination: true,
                        search: true,
                        classes: "table table-responsive-sm table-sm",
                        pageSize: 100
                    });
                    //$('#alerts').bootstrapTable('pageSize', 100);
                    $('#alerts').bootstrapTable('load', alerts);
                    //console.log();

                    //console.log('test');
                }
            });
        }

    }

    $(function() {
        update = new Update();
        update.update10();
    });
</script>